@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u0ut0m');
  src:  url('fonts/icomoon.eot?u0ut0m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u0ut0m') format('truetype'),
    url('fonts/icomoon.woff?u0ut0m') format('woff'),
    url('fonts/icomoon.svg?u0ut0m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner11:before {
  content: "\e984";
}
